@using _24_WEB2_ASP.NET_MVC.Helpers
@model IEnumerable<_24_WEB2_ASP.NET_MVC.Models.SanPham>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section name
{
    Sản Phẩm
    <small>Danh sách</small>
}

@section path
{
    <li>@Html.ActionLink("Sản Phẩm", "DanhSach", "SanPham")</li>
    <li class="active">Danh sách</li>
}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <div class="row" style="padding-bottom: 15px; padding-top: 10px;">
                <div class="col-lg-6 col-md-6">
                    @Html.ActionLink("Thêm mới", "Them", "SanPham", new { area = "Admin" }, new { @class = "btn btn-primary btn-flat" })
                </div>

                <div class="col-lg-6">
                    @using (Html.BeginForm("TimKiem", "SanPham", FormMethod.Get))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control" id="tukhoa" name="q" placeholder="Từ khóa">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="timkiem" type="submit">Tìm kiếm</button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
        
        @if (!Model.Any())
        {
            <div class="box-body">
                <h3 style="text-align: center;">Sản phẩm bạn tìm không tồn tại !</h3>
            </div>
        }
        else
        {
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="3%">ID</th>
                        <th width="18%">Tên sản phẩm</th>
                        <th width="6%">Hình ảnh</th>
                        <th width="5%">Số lượng</th>
                        <th width="5%">SL Tồn</th>
                        <th width="6%">Lượt xem</th>
                        <th width="8%">Loại sản phẩm</th>
                        <th width="6%">Hãng</th>
                        <th width="6%">Giá bán</th>
                        <th width="12%">Ngày nhập</th>
                        <th width="7%">Trạng thái</th>
                        <th width="7%">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.TenSanPham</td>
                            <td>
                                <a href="">
                                    <img src="~/Assets/HinhAnh/@item.ID/@item.HinhAnh" class="img-responsive" width="40" height="40">
                                </a>
                            </td>
                            <td>@item.SoLuong</td>
                            <td>@item.SoLuongTon</td>
                            <td>@item.LuotXem</td>
                            <td>@item.LoaiSanPham.TenLoaiSanPham</td>
                            <td>@item.NhaSanXuat.TenNhaSanXuat</td>
                            <td>@string.Format("{0:n0}", item.Gia) &#x20ab; </td>
                            <td>@item.NgayNhap</td>
                            <td>
                                @if (item.BiXoa == false)
                                {
                                    <span class="badge bg-green">Kích hoạt</span>
                                }
                                else
                                {
                                    <span class="badge bg-red">Tắt</span>
                                    <a href="@Url.Action("KichHoat", "SanPham", new { id = item.ID })" class="btn btn-sm btn-default">Kích hoạt</a>
                                }
                                @if (item.SoLuongTon > 0)
                                {
                                    <span class="badge bg-aqua-active">Còn hàng</span>
                                }
                                else
                                {
                                    <span class="badge bg-red-active">Hết hàng</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Sua", "SanPham", new {id = item.ID})">
                                    <button class="btn btn-sm btn-warning" style="margin-right: 1em;">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </a>

                                <a @if (RangBuocXoa.TheoHoaDon(item.ID)) { @Html.Raw("class='tat'") } onclick="return xacNhanXoa('Bạn có muốn xóa không ?')" href="@Url.Action("Xoa", "SanPham", new {id = item.ID})">
                                    <button class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-0">
                        <ul class="pagination">
                            @if (ViewBag.curPage != 1)
                            {
                                <li>
                                    <a href="?q=@ViewBag.q&page=@(ViewBag.curPage - 1)">«</a>
                                </li>
                            }

                            @for (int i = 1; i <= ViewBag.totalPage; i++)
                            {
                                if (ViewBag.curPage == i)
                                {
                                    <li class="active">
                                        <a href="">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="?q=@ViewBag.q&page=@i">@i</a>
                                    </li>
                                }
                            }
                            @if (ViewBag.curPage != ViewBag.totalPage)
                            {
                                <li>
                                    <a href="?q=@ViewBag.q&page=@(ViewBag.curPage + 1)">»</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section js
{
    <script>
        $(document).ready(function () {
            $('#timkiem').click(function (e) {
                var x = $('#tukhoa').val();

                if (x == null || x === "") {
                    alert('Bạn phải nhập từ khóa cần tìm');
                    $('input[name="q"]').focus();

                    e.preventDefault();
                }
            });
        });
    </script>
}